#container {
  text-align: center;

  position: absolute;

  left: 0;

  right: 0;

  top: 50%;

  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;

  line-height: 26px;
}

#container p {
  font-size: 16px;

  line-height: 22px;

  color: #ff0000;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.event-list {
  background-color: #fff;

  padding: 16px;

  border-radius: 8px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slide-card {
  background-color: #fff;

  border-radius: 8px;

  padding: 16px;

  box-shadow: none;

  width: 100%;

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

.slide-card img {
  width: 100%;

  height: auto;

  object-fit: cover;
}

.slide-card p {
  color: #000;
}
